Stitching_Tutorial
OpticalFlow-and-Stitching
Galatsi_Dataset_archive
LightGlue
bin
lib
lib64
logs
output_frames
selmaEnv
share
output/extracted_frames
.DS_Store
output/videos
output/.DS_Store
output/images/.DS_Store
output/textfiles/.DS_Store
DJI_0763.MOV
DJI_0763_detection
DJI_0763_tracking
DJI_0763_tracking copy
tracking_small
utils/__pycache__
test
Selma/lightglue
Selma/selmaEnv
DJI_0763_tracking_og
tracked_output.mp4
